<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>boomlight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,363}}</string>
                <key>sourceSize</key>
                <string>{394,363}</string>
            </dict>
            <key>bucket_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,386},{56,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bucket_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,386},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bucket_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{58,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bucket_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,452},{58,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,120},{64,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,447},{56,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{56,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,198},{64,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,452},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{58,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,450},{56,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{56,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,452},{60,58}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,386},{56,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,386},{60,62}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,386},{54,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{54,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,252},{44,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{44,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,318},{42,56}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{42,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,446},{52,58}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{52,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,62},{42,56}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{42,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,186},{44,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{44,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,452},{58,60}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{58,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{42,58}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,134},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,386},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,326},{64,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,70},{64,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,262},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>food_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{58,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,386},{58,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,59}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>foods.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60a1746b550c857df68fcd79e08db157:1/1$</string>
            <key>textureFileName</key>
            <string>foods.png</string>
        </dict>
    </dict>
</plist>
